@page "/games"
@inject IVideoGameService VideoGameService

<PageTitle>Video Game</PageTitle>
<h3>Video Game</h3>

@if(videoGames.Count == 0)
{
    <p><em>Loading Video Game...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Release year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in videoGames)
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Publisher</td>
                    <td>@game.ReleaseYear</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<VideoGame> videoGames= new List<VideoGame>();

    protected override async Task OnInitializedAsync()
    {
        videoGames = await VideoGameService.GetAllGamesAsync();

    }
}